# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Projeto
.env
.env.local
*.log
.streamlit

# Testing
.pytest_cache
.coverage
htmlcov/

# Build
dist/
build/
*.egg-info/

# Docs
docs/_build/
